<div class="col-sm-12 form">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form_1">
      <div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title, id: :post_title %><br>
      </div>

      <div class="field">
        <%= form.label :body %><br>
        <%= form.text_field :body, id: :post_body %><br>
      </div><br>

      <div class="actions">
        <%= form.submit %>
      </div>
      <div class="back_b">
        <%= link_to 'Back', posts_path %> 
      </div>
  </div>
  <% end %>
</div>