<!DOCTYPE html>
<html>
  <head>
    <title>Youtube</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
  	<img class="logo" src="http://cdn04.androidauthority.net/wp-content/uploads/2017/08/new-youtube-logo-840x402.jpg">
  	
	  <div class="container">
	  	<div class="nav">
		  	<nav >
	  			<a class="new"><%= link_to 'New Video', new_video_path %></a>
	  		</nav>
	  	</div>
		  	<div class="row">
		    	<%= yield %>
		    </div>
	   </div>

  </body>
</html>
