<div class="col-sm-12">
	<div class="show">
		<p id="notice"><%= notice %></p>
		<p>
		  <h3><%= @video.title %></h3>
		</p>
		<p>
		  <iframe class="i_show" width="560" height="315" src="<%=@video.url%>" frameborder="0" allowfullscreen></iframe>
		</p>
		<p>
		  <h5>Description: </h5>
		  <%= @video.description %>
		</p>

		<%= link_to 'Edit', edit_video_path(@video) %> |
		<%= link_to 'Back', videos_path %>
	</div>
</div>	